---
import type { MarkdownLayoutProps } from "astro";
import MainLayout from "./MainLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";

import skyImage from "@assets/common/sky.webp";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  image?: string;
  toc?: "on" | "off";
}>;

const {
  frontmatter: { title, description, image, toc = "on" },
  headings,
} = Astro.props;
---

<MainLayout title={title} description={description} image={image}>
  <div
    class:list={[
      "absolute inset-0 -z-1",
      "bg-black/60 bg-(image:--bg-image) bg-cover bg-fixed bg-no-repeat bg-blend-multiply",
    ]}
    style={`--bg-image: url('${skyImage.src}')`}
  >
  </div>
  <div class="container flex flex-col gap-8 py-8 md:flex-row">
    {
      toc === "on" && headings.length > 0 && (
        <aside class="flex-shrink-0 md:w-64 lg:w-72">
          <TableOfContents {headings} {title} />
        </aside>
      )
    }
    <article
      class="prose max-w-none min-w-0 flex-1 px-6"
      style="--tw-prose-links:var(--color-accent);--tw-prose-code:var(--color-accent)"
    >
      <slot />
    </article>
  </div>
</MainLayout>
